body {
    background-image: url(images/background.png)
}

#nava {
    margin-top: 15px;
}

.navbar {
    background-color: lightgrey;
    border: solid 1px lightgrey;
}

.navbar-brand {
    background-color: #4aaaa5;
    padding: 10px;
    margin-left: 10px;
    color: white;
}

h1 {
    color: #4aaaa5;
}

.aboutP {
    text-indent: 2.0em;
}

#contacth2 {
    color: #4aaaa5;
}

.container {
    margin-top: 10px;
    padding: 10px;
    border: solid 1px;
    border-color: lightgrey;
    background-color: white;
}

#portfolioContainer {
    margin: 10px;
}

.title {
    color: #4aaaa5;
}

.card {
    margin-left: 130px;
    margin-bottom: 20px;
}

.btn,
.btn-primary {
    background-color: #4aaaa5;
    color: white;
}

.footbottom {
    background: darkgrey;
    color: white;
    height: 60px;
    text-align: center;
    padding-top: 20px;
}

#foottop {
    height: 20px;
    background-color: #4aaaa5;
}

.footer {
    position: static;
    bottom: 0;
    width: 100%;
    margin-top: 83px;
}

.footerContact {
    position: static;
    bottom: 0;
    width: 100%;
    margin-top: 99px;
}