body {
    background-image: url(images/background.png)
}

#nava {
    margin-top: 15px;
}

.navbar {
    background-image: url(images/background2.png);
    margin-bottom: 40px;
    margin-top: 0;
    color: white;
}

.navbar-brand {
    background-color: #FF610D;
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
    color: white;
    font-weight: 800;
}

h1 {
    color: #FF610D;
    font-weight: 800;
    -webkit-text-stroke: 1px black;
}

a {
    color: #FF610D;
    font-weight: 800;
    font-size: 20px;
}

hr {
    border-color: white;
}

.aboutP {
    text-indent: 2.0em;
    color: white;
}

.contact {
    color: white;
}

#contacth2 {
    color: #FF610D;
    -webkit-text-stroke: 1px black;
    font-size: 40px;
}

#porth2 {
    color: #FF610D;
    -webkit-text-stroke: 1px black;
    font-size: 40px;
    text-align: center;
}

.contactPad {
    padding-left: 70px;
}

.contactButton {
    padding-left: 55px;
    padding-top: 15px;
    color: white;
}

.container {
    margin-top: 10px;
    padding: 10px;
    background-image: url(images/background2.png)
}

#portfolioContainer {
    margin: 10px;
}

.title {
    color: #FF610D;
}

.card {
    margin-left: 130px;
    margin-bottom: 20px;
}

.btn,
.btn-primary {
    background-color: #FF610D;
    color: white;
}

.footbottom {
    background-image: url(images/background2.png);
    color: white;
    height: 60px;
    text-align: center;
    padding-top: 20px;
}

#foottop {
    height: 20px;
    background-color: #FF610D;
}

.footer {
    position: static;
    bottom: 0;
    width: 100%;
    margin-top: 46px;
}

.footerContact {
    position: static;
    bottom: 0;
    width: 100%;
    margin-top: 39px;
}